*{
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    transition: all 0.4s;
}

body.darkmode{
    background-color: #323232;
}

.contenedor {
    width: 100%;
    height: auto;
    background-color: transparent;
}

.barramenu {
    
    width: 100%;
    height: 50px;
    background-color: #bc2626;
    overflow: hidden;
  
}

.darkmode .barramenu {
    background-color: #696969;
}

ul {
    width: 60%;
    height: auto;
    margin: 12.5px auto 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
    
}   

li {

    width: 70px;
    height: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 2px;

}

.darkmode li {
    background-color: #121212;
    color: antiquewhite;
}

li:hover {
    background-color: aqua;
}

.boton_menu{
   position: absolute;
   width: 50px;
   height: 50px;
   background-color: #cc1aa8;
   cursor: pointer;
}

.darkmode .boton_menu:hover{
    background-color: #161515;
}


.darkmode .boton_menu {
    background-color: #858383;
}

.hambur {
    width: 40px;
    height: 25px;
    background-color: transparent;
    margin: 12.5px auto;
}

.c1,.c2,.c3 {
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.titulo {
    width: 40%;
    height: auto;
    background-color: #cc1aa8;
    margin: 50px auto;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.darkmode .titulo {
    background-color: #161515;
}

.marco {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #1dc9eb;
    color:white;
    padding: 2px 0px 0px 0px;
   
}

.darkmode .marco {
    background-color: #161515;
}

.foto {
   background-image: url(../images/aguila.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   width: 100%;
   height: 300px;
   margin: auto;
}

.texto p {
    width: 80%;
    height: auto;
    margin:  10px auto 10px auto;
    padding: 20px 0;
    text-align: justify;
    background-color: #bc2626;
   
}

.darkmode .texto p {
    background-color: #161515;
}

.temas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap ;
    width: 60%;
    margin: 50px auto;
    height: auto;
    background-color: orangered;
    border-radius: 20px;
}

.darkmode .temas {
    background-color: #474747;
}

.t1,.t2,.t3 {
    width: 200px;
    height: 175px;
    background-color: green;
    margin: 20px auto;
    background-image: url(../images/volcan.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    border: 5px solid #fff;
    background-clip: content-box;
}

.t2 {
    background-image: url(../images/cielorojo.jpg);
}
.t3 {
    background-image: url(../images/montana.jpg);
}

#btndark {
    width: 50px;
    height: 50px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    margin: 35px 15px 15px 45px;
    cursor: pointer;
    display: flex;
 
} 

#luna {
    font-size: 30px;
    margin: auto;
    color: white;
    display: block;
   
}

#sol {
    display: none;
   
}

.darkmode #luna {
    display: none;
}
.darkmode #sol {
    display: block;
    font-size:30px;
    color: #ebc127;
    margin: auto;
  
    
}

