* {
	padding:0px;
	margin: 0px;
}

body {
	
	--color-primario:#fff;
	--fondo-imagen:url(images/fondojjo3.jpg);
	--color-wrapped:#fff;
	--color-bg-ctextoazul:#c23433;
	--color-lred:#cd2e2e;
	--color-lred2: #c60404;
	--color-sb-togglehover: #f0f0f0;
	--color-logomain:#fff;
	--color-textlogo: #686a6b;
	--color-subtitle:#6C6F70;
	--color-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
	--fondo-boton:#acacac;
	--pstn-boton: 0;
    --pstn2-boton: unset;
	--color-btnchg:#b91515;



}

body.dark-theme {
	--color-primario:rgb(60, 59, 59);
	--fondo-imagen:url(images/fondojjo4.jpg);
	--color-wrapped:rgb(41, 41, 41);
	--color-bg-ctextoazul:#343434;
	--color-lred:#848383;
	--color-lred2: #848383;
	--color-sb-togglehover: #222222;
	--color-logomain:rgb(67, 67, 67);
	--color-textlogo: #989898;
	--color-subtitle:#a3a3a3;
	--color-shadow: 2px 1px 8px 0px rgba(54, 54, 54, 0.49);
	--fondo-boton:#fff;
	--pstn-boton: unset;
	--pstn2-boton: 0;
	--color-btnchg:#a19e9e;
	
}
/*
body.dark-theme img {
	filter:saturate(25%) 
  }*/


.change{
	display:flex;
	flex-direction: row;
	position:absolute;
    top: 5px;
	left: 100px;
	width:60px;
	height: 30px;
	background-color:var(--fondo-boton);
	border: 0px solid #fff ;
	border-radius: 20px;
	cursor: pointer;
	
	/*box-shadow: 3px 3px 3px 3px rgba(54, 54, 54, 0.49);*/
}
.change:active {
	background: #fff;
	
}



.change:hover {
	background-color: var(--fondo-boton);
}
.change::after.active{
	right: 0;
	left: unset;
	background-color: var(--color-btnchg);
}
	.change::after {
		content: "";
		position:absolute;
		width: 30px;
		height:30px;
		background-color:var(--color-btnchg);
		border-radius: 60px;
		right: var(--pstn2-boton);
		left: var(--pstn-boton);
		top: 0;
		transition: .3s ease all ;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2)
}

	
	



#sol {
	font-size: 20px;
	margin-left: 5px;
	margin-top: 5px;
	color:var(--color-logomain);

}

#luna {
    margin-left: 10px;
    margin-top: 5px;
	font-size: 20px;
	color:var(--color-logomain);
	
}







@media (prefers-color-scheme: dark) {
	body.dark-theme {
		--color-primario:rgb(60, 59, 59);
	}
	
}

	@media (prefers-color-scheme: light) {	
		body.light-theme {
			--color-primario:#fff;
		}
	
	}


.sb-site-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;


}


.menubar.sb-slide {
	width: 100%;
	height: 41px;
	background: var(--color-wrapped);
	position: fixed;
	z-index: 101;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
}



.contenedor01{
	width: 100%;
	height: auto;
	background: var(--fondo-imagen)no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	margin-top: 40px;
    padding-bottom: 200px;

}

.logomain {
	width: 260px;
	height:53px;
    background-color:var(--color-logomain);
    position:absolute;
    overflow: hidden;
	z-index: 110;
	top: 0;
    left: 50%;
    margin-left: -130px;
	border:0px solid #898988;
	background-repeat: no-repeat;
	-webkit-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -moz-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -o-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -ms-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    box-shadow: var(--color-shadow);

   
}
.logopng {
    width: 63px;
    height: 50px;
    float: left;
    background-image: url(images/simbolo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2px;
    background-position: right;
}
.textologo {
    width: auto;
    height: 40px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 11px;
   
    
    
} 

.textologo p.title span {
   
    color: #cd2e2e;
    font-weight: 400;
    font-size: 19px;
}
.textologo p.title {
    color: var(--color-textlogo);
    font-weight: 300;
    font-size: 19px;
    
    
}

.subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    text-align: right;
    margin-left: 8px;
    color:var(--color-subtitle);
    font-weight: 300;
    position: absolute;
    margin-top: -2px;
}


#plogo {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333332;
	margin-top: 5px;
	margin-left: 60px;
	display: none;

}

span#rojo {
	font-weight: 400;
   color:#cd2e2e;
}


.wrapper {
    max-width: 1280px;
	display: block;
	width: 70%;
	height: 100%;
	background: var(--color-wrapped);
	margin: 0px auto;
	overflow: hidden;
    padding-bottom: 1.4%;
  
   
}

.lred {
    width: 97%;
    height: 7px;
    background:var(--color-lred);
    margin: 1.6% auto 0 auto;
}

.lred_2 {
    width: 97%;
    height: 7px;
    background: var(--color-lred2);
    margin: 0 auto 0 auto;
}

.foto1 {
	width: 100%;
}

.cycle-slideshow {
	width: 97%;
	margin: 0 auto 0px auto;

}

.cycle-slideshow.dos {
    margin-top: 1.6%;
}

.cycle-slide.cycle-sentinel {
	width: 100%;
	
}

#cuadronegro1 {
	width: 100%;
	height: 50px;
	background:#000;
}



span {
	color: #454444;
}

#alt-caption {
    text-align: center;
	color: #fff;
    width: 110px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 14px;
	bottom: 30px;
    right: 30px;
    z-index: 200;
	position: absolute;
	font-style:normal;
     -webkit-background-color: rgba(0,0,0,0.3);
     -moz-background-color: rgba(0,0,0,0.3);
     -ms-background-color: rgba(0,0,0,0.3);
     -o-background-color: rgba(0,0,0,0.3);
    background-color: rgb(0,0,0,0.3);
    padding: 0px 2px;
    border-radius: 3px;
     
    
    
}









.cuadrotextoazul {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
	width: 97%;
	height:auto;
	background:var(--color-bg-ctextoazul);
	margin:0px auto;
	overflow: hidden;
	padding: 20px 0;

}

.titulo01 {
	width: 200px;
	height: auto;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 30px;
	color:#fff;
	font-weight: 300;
	font-style: italic;
	margin-left: 45%;
	margin-top: 50px;
}

.parrafo01 {
    width: auto;
    height: auto;
    
    
}

.parrafo01 p  {
	font-family:'Source Sans Pro', sans-serif;
    font-style: normal;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
    font-style: normal;
	width: 84%;
    height: auto;
	text-align: justify;
	margin-left: 8%;
    margin-right: 8%;
	margin-top: 40px;
    margin-bottom: 40px;
    background:transparent;
    
	
}

/*.parrafo011 {
	font-family:source-sans-pro, sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
	width: 45%;
	
	position: relative;
	margin-left: 45%;
	margin-top: 30px;
	
}*/

.parrafo012,.parrafo013 {
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
	width: 45%;
	text-align: justify;
	position: relative;
	margin-left: 45%;
	margin-top: 30px;
	
}



/*.parrafo021 {
	
	margin-top: 0px;
	width:130px;
	height: auto;
    flex-direction: row;
	text-align: justify;
	position: relative;
	margin-left: 5%;
	background: url(images/ubicacion.png);
	background-repeat: no-repeat;
	overflow: hidden;
}*/

p#ubica {
	font-style: italic;
	font-family:source-sans-pro, sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
	margin-top: 70px;
	width: auto;
	font-size: 14px;
	height: 100px;
	background: transparent;

}

.contenedor02 {
	width: 100%;
	height: auto;
	background: url(images/fondo22.jpg)no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;

}

#eequipo,#proyectos,#contacto  {
   width: 1%;
   height: 20px;
   position: absolute;
   background: transparent;
   margin-top: -40px;

}



/*.wrapper1 {
    width: 70%;
    height: auto;
	background: #fff;
	margin: 0px auto;
	overflow: hidden;
  
}*/

.fotoverde {
	width: 97%;
	height: auto;
	margin: 1.6% auto 0px auto;

}

.fotoverde img {
	width: 100%;
	height: 100%;
	display: block;
}

.cuadronegro {
	width: 97%;
	height: 40px;
	margin: 0px auto;
	background-color: #000;
}

.cuadroverde {
	width: 97%;
	height:auto;
	background:#9bce56;
	margin:0px auto;
	overflow: hidden;
	padding-bottom: 100px;
}

/*seccion3*/

.contenedor03 {
	width: 100%;
	height: auto;
	background: url(images/fondo35.jpg)no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;

}
.wrapper2 {
	width: 70%;
	
	height: auto;
	background: #fff;
	margin: 0px auto;
	overflow: hidden;
}

.fotogreen {
	width: 97%;
	height: auto;
	margin: 1.6% auto 0px auto;
}

.fotogreen img {
	width: 100%;
	height: 100%;
	display: block;
}

.cuadrogreen {
	width: 97%;
	height:auto;
	background:#42d49c;
	margin:0px auto;
	overflow: hidden;
	padding-bottom: 100px;
}


/*contenedor4*/

.contenedor04 {
	width: 100%;
	height: auto;
	background: url(images/fondojjjo1.jpg)no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
    padding-bottom: 209px;
	
}

.wrapper3 {
	width: 70%;
    max-width: 1280px;
	height: auto;
	background: #fff;
	margin: 0 auto 0px auto;
	overflow: hidden;
	padding-bottom: 1.4%;
}

.fotocontacto {
	width: 97%;
	height: auto;
	margin: 1.5% auto 0px auto;
}

.fotocontacto img {
	width: 100%;
	height: 100%;
	display: block;
}

.cuadroyellow {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 97%;
	height:auto;
	background:#c23433;
	margin:0px auto;
	overflow: hidden;
	padding: 5px 0 15px 0;
    
}

.textomiguel {
    min-width: 220px;
    width: 36%;
    height: auto;
   
    
    
}







.textomiguel p {
    width: 190px;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
    font-style: normal;
	margin: 11% auto;
   
	
}

.line_mi_1,.line_mi_2 {
    width: 1px;
    background: white;
    height: 140px;
    margin: 4% 0;
}

.textoconi {
    min-width: 220px;
    width: 34%;
    height: auto;
    
    
   
}

.textoconi p {
    
    width: 162px;
    font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
	margin: 11% auto;
    
}

.textoadress {
    min-width: 162px;
    width: 29%;
    height: auto;
  
}

.divadress {
    min-width: 162px;
    width: 162px;
    height: auto;
    margin: 12.5% auto 11% auto;
    
}

.divadress p {
    min-width: 162px;
    width: 162px;
    height: auto;
    font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	color:#fff;
	font-weight: 300;
    margin: 0 auto;
    
	
    
    
  
}

.circulo {
     width: 40px;
     height: 40px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#000;
     text-align: center;
     margin: 5px 0 0 0;
    
}

.fab {
    margin-top: 4px;
    color: white;
}



.linea {
	width: 3px;
	background: #fff;
	margin-left: 5px;
    margin-right: 5px;
	margin-top: 20px;
    margin-bottom: 20px;


}

.logolema {
    background-image: url(galeria/images/logoni.png);
    width: auto;
    height: 80px;
    margin: 40px 5% 40px 5%;
    background: transparent;
}

.imagenlema {
    width: 35px;
    height: auto;
}

.imagenlema img {
    width: 100%;
    height: 100%;
    display: block;
}

.textolema{
    width: 170px;
    height: 17px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 16.5px;
    letter-spacing: 0em;
}

.textolema_sm {
    width: 170px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 12px; 
}

.linea2 {
	width: 1px;
	height: 7%;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	margin-left: 25%;
	margin-top: 50px;

}

.linea3 {
	width: 1px;
	height: 6.5%;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	margin-left: 25%;
	margin-top: 50px;

}

.linea4 {
	width: 1px;
	height: 11%;
	background-color: #fff;
	position: absolute;
	z-index: 999;
	margin-left: 25%;
	margin-top: 50px;

}

#equipo {
	width: 78px;
	height: 20px;
	float: right;
	margin-top: 10px;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	margin-right: 5%;
	
}

#equipo1 {
	width: 52px;
	height: 20px;
	float: right;
	margin-top: 10px;
	color:#fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	margin-right: 5%;
	
}

#crayola {
	width: auto;
	height: 20px;
	float: left;
	margin-top: 10px;
	color:#86c62f;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin-left: 5%;
}

#equipoco {
	width: 73px;
	height: 20px;
	background: transparent;
	float: right;
	margin-top: 10px;
	color:#fff;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	margin-right: 5%;
}

.footer {
	width: 100%;
	height: 120px;
	background: #000;
    overflow: hidden;
}

.izquierdo {
	width:150px;
	height: auto;
	float: left;
	background: transparent;
	margin-left: 18%;
	margin-top: 45px;
   
}

.icono {
	width: 20px;
	height: 20px;
	background: url(images/foto.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;

}

.icono0 {
	width: 20px;
	height: 20px;
	background: url(images/fono.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;
	margin-top: 2px;

}


.icono1 {
	width: 20px;
	height: 20px;
	background: url(images/copyright.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;
}

.icono2 {
	width: 20px;
	height: 20px;
	background: url(images/face.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;
	margin-top: 2px;

}

.icono3 {
	width: 20px;
	height: 20px;
	background: url(images/mail2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}


.derecho {
    width: 120px;
    height: auto;
    float: right;
    background: transparent;
    margin-right: 16%;
    margin-top: 45px;
   

}

.centro {
	width: 180px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	background: transparent;
	margin-top: 40px;
    overflow: visible;
}

p#final {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 2px;
	height: 25px;
	
	
}

a {
	text-decoration: none;
}

p#final0 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 15px;
	height: 25px;
	
	
}

p#final3 {
    width: 120px;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 2px;
	height: 25px;
	
}

.sb-toggle-left {
	width: 40px;
	height: 41px;
	background: transparent;
	position: absolute;
	margin-left: 0;

	
}

.sb-toggle-left:hover {
	cursor: pointer;
	background:var(--color-sb-togglehover);
	
	
}

#c02,#c03 {
	width: 25px;
	height: 2px;
	margin-top: 5px;
	background: var(--color-lred);
	margin-left: 7px;
	
}

#c01 {
	width: 25px;
	height: 2px;
	margin-top: 12px;
	background: var(--color-lred);
	margin-left: 7px;
}



.sb-toggle-right {
	width: 40px;
	height: 41px;
	background: transparent;
	position:relative;
	z-index: 49998;
	float: right;
	cursor: pointer;
	
}

.sb-toggle-right:hover {
	background: var(--color-sb-togglehover);
}

#c05,#c06 {
	width: 28px;
	height: 2px;
	margin-top: 5px;
	background:var(--color-lred);
	margin-left: 7px;
	
}

#c04 {
	width: 28px;
	height: 2px;
	margin-top: 12px;
	background:var(--color-lred);
	margin-left: 7px;
}

.sb-slidebar.sb-right.sb-style-overlay {
	margin-top: 41px;

     
}

#circulo {
	width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    margin:30px auto 0px auto;
    border:2px solid #fff;
     background-image: url(images/cvr3.jpg);
    background-position: center center;
    background-size: 116%;
    background-repeat: no-repeat;
}

#circulo01 {
	width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: gray;
    margin:50px auto 0px auto;
    border:2px solid #fff;
    background-image: url(images/c07.jpg);
    background-position: left center;
    background-size: 110%;
    background-repeat: no-repeat;
}

.textcir,.textcird {
	width: 75%;
	height: auto;
	margin: 30px auto 50px auto;
	color:#fff;
	font-size: 14px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
    
}

.textcird {
    padding-bottom: 40px;
}

 a {
	text-decoration: none;
	color:#fff;
	font-family: 'Source Sans Pro',sans-serif; 
	font-size: 16px;
	font-weight: 300;

}



li {
	padding: 15px;
	border-bottom: 1px solid gray;
	color:#fff;
}

.tituloslide {
	width: 150px;
	height: 20px;
	background-color: transparent;
	font-family: 'Source Sans Pro', sans-serif;
	color:#fff;
	text-align: center;
	font-size:14px;
	margin: 25px auto 0px auto;
}

.aviso {
	width: 40px;
	height: 20px;
	color: #cd2e2e;
    position: absolute;
	margin-left: 42px;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.aviso p {
    color: var(--color-lred);
}



.logomenu {
	width: 80%;
	height: auto;
	margin: 60px auto;
}

.logomenu img {
	width: 100%;
	height: 100%;
	display: block;
}

li:hover {
	background: #3c3c3b;
}

#fecha {
	width: 170px;
	height: 20px;
	color:#fff;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 25px;

}

@media screen and (max-width: 1280px) {
    .cuadrotextoazul {
        padding: 0 0;
    }
}



/*@media screen and (max-width: 1440px) {
    

     .linea2 {
       height: 8.3%;
     }
     .linea3 {
       height: 7.5%;
     }

     .linea4 {
       height: 11.3%;
     }

}

@media screen and (max-width: 1280px) {
	
     .linea2 {
       height: 9.4%;
     }
     .linea3 {
       height: 8.4%;
     }

     .linea4 {
       height: 11.8%;
     }
     
     .logomain {
     	width: 260px;
         height: 53px;
     }
     
}

@media screen and (max-width: 1024px) {
    

     .linea4 {
       height: 12%;
     }

     .logomain {
     	height: 50px;
     }

     .contenedor01 {
     	width: 100%;
	    height: auto;
	    background: url(images/fondo172.jpg)no-repeat center center ;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-size: cover;
	    margin-top: 40px;
     }

     .contenedor02 {
	    width: 100%;
	    height: auto;
	    background: url(images/fondo222.jpg)no-repeat center center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-size: cover;
    }

    .contenedor03 {
	    width: 100%;
	    height: auto;
	    background: url(images/fondo355.jpg)no-repeat center center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-size: cover;
	}

	.contenedor04 {
		width: 100%;
	    height: auto;
	    background: url(images/fondocr0.jpg)no-repeat center center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -ms-background-size: cover;
	    background-size: cover;
	}
}*/



@media screen and (max-width: 960px) {
	.wrapper,.wrapper3 {
		width: 100%;
        
	}

	

    .cycle-slideshow {
        margin-top: 0px;
    }
	.lred,.fotoverde,.fotogreen,.cycle-slideshow.dos {
       margin-top: 13px; 
	}

	

	.izquierdo {
		margin-left: 2%;
		background: transparent;
	}

	.derecho {
		margin-right: 2%;
	}
    
    .contenedor01,.contenedor02,.contenedor03,.contenedor04 {
    	
    }

    .aviso {
		color: transparent;
	}

	.logomain {
		width: 250px;
		height: 53px;
        margin-left: -125px;
	}
    
    .logopng {
        width: 58px;
    }
    
    



	
	
}

@media screen and (max-width: 700px) {
	
    .textomiguel {
        width: 50%
    }
    .textoconi {
        width: 49.8%
    }
    
    .textoadress {
        width: 50%;
    }
    
    .line_mi_2 {
        display: none;
    }
	


 .textoconi p, .textomiguel p{
        margin-left: 15%;
        width: 70%;
    }
    
    .textomiguel p {
        margin-bottom: 0;
    }
    
    .divadress {
        margin-left: 15%;
        margin-top: 0;
        width: 100%;
    }
    .divadress p{
        margin-left: 0;
        
    }
    
    .textoconi p {
        margin: 0% auto 0% 15%;
    }
    
    .textomiguel,.textoconi,.textoadress{
        width: 100%;
        
    }
    
    
    
    .line_mi_1{
        display: none;
    }
    
    .cuadrotextoazul {
        flex-direction: column;
        padding-bottom: 40px;
    }
    
    
    .linea{
      display: none;
    }
    
    .parrafo01 {
        margin-top: 0;
    }
    
    .parrafo01 p {
        margin-top: 20px;
    }
    
    .logolema {
        margin-bottom: 0;
        margin-left:8%;
    }
   
    
}



@media screen and (max-width: 520px) {
    /*.derecho {
    	width: 40%;
    	margin-right: 10px;
    	float:none;
		margin-top: 110px;
		margin-left: 2%;
		background: transparent;
    }
   
    .footer {
		height: 200px;
		overflow: hidden;
	}
    .centro {
        float: right;
		margin-right: 30px;
		position: relative;
		left: 0;
        width: 200px; 
		margin-top: 25px;
		background: transparent;
	}
    .izquierdo {
		width: 40%;
	}*/
    
    .derecho {
    	width: 150px;
        height: 25px;
        float: none;
    	background: transparent;
        position:inherit;
        margin: 25px auto 0 29.4%;
		
    }

	.footer {
        margin-top: 0px;
		height: 220px;
      
		
	}


	.centro {

		float: none;
		margin: 70px auto 0 0px;
		position: absolute;
		background: transparent;
        left: 30%;
    
    }

	.izquierdo {
		margin: 30px auto 0 30%;
        position: inherit;
        float: none;
        overflow: hidden;
       
    }
    
    #fecha {
		width: 170px;
	}
    #equipo,#equipoco,#equipo1 {
		margin-right: 10%;
	}
    #circulo,#circulo01 {
        width: 125px;
        height: 125px;
    }
    
    
  
}

@media screen and (max-width: 440px){
    .logomain {
    	width: 60px;
    	height: 53px;
    	background-image: url(images/cel2.png);
    	background-size: contain;
    	background-position: center center;
    	background-repeat: no-repeat;
    	margin-left: -30px;
     
    }
    
    .logopng,.textologo {
        display: none;
    }
}

@media screen and (max-width: 400px) {
     

     
    
    
     

}