* {
	padding:0;
	margin:0;
    scrollbar-width: none;
}

/*.modal.fade.in{
    overflow-y:hidden;
}*/
/*::-webkit-scrollbar{
    display:none
}*/	
	
.sb-site-container{
    width: 100%;
    height: 100%;
    background: url(images/13982_1.jpg)no-repeat top fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    overflow-y:hidden; 
}

  .flinks {
   -webkit-display:flex;
    -ms-display:flex;
     -moz-display:flex;   
   display:flex;
   -webkit-flex-direction: row; 
   -ms-flex-direction: row;
   -moz-flex-direction: row; 
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
   -ms-flex-wrap: wrap;     
   flex-wrap: wrap;
   width: 520px;    
   height: auto;
   position: absolute;
   left: 50%;
   top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
        
}
    
#botonm {
    padding: 0;
    width: 215px;
    height: 215px;
    background-color: green;
    cursor: pointer;
    border: 12px solid #fff;
    margin: 20px;
    border-radius: 0px !important;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.75);
    -ms-box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.75);

}

.imagenbt {
    width: 100%;
    height: 120px;
    background: url(images/imagenbt.jpg);
     background-size: cover;
    background-repeat: no-repeat;
   
}

.imagenbtvit {
    width: 100%;
    height: 120px;
    background: url(images/imagenbt1.jpg);
     background-size: cover;
    background-repeat: no-repeat;
  
}

.imagenbtms {
    width: 100%;
    height: 120px;
    background: url(images/imagenbtms.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imagenbtpp {
    width: 100%;
    height: 120px;
    background: url(images/imagenbtpp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.textobt,.textobtu {
    width: 100%;
    height: 85px;
    background-color: #bf2f30;
    text-align: left;
    padding: 10px;
    font-family: source-sans-pro,sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
    font-size: 18px;
}

.textobt p {
    margin-top: 0px;
}

.textobtu p {
    margin-top: 27px;
}

.logo.sb-slide {

	width: 300px;
	min-width: 270px;
	height: 63px;
	background: #fff;
	position: fixed;
	z-index: 22000;
	margin-left:15%;
	padding-left: 0.7%;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    display: none;
}

#imgen {
	
	background: url(images/logorojod1.svg);
    height: 100%;
	background-repeat: no-repeat;
	margin-top: 2px;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.modal-content {
     max-width: 920px !important;
    background-color: transparent !important;
   /*background: url(images/tramamodal.jpg);*/
   background-size: cover;
  border:0px solid #tranparent;
  padding: 5px 0 0px 0px !important;
  border: none;
  margin: auto;
    
}

.modal-body {
    max-width: 920px !important;
    width: auto !important;
    padding: 0px !important;
    background: transparent !important;
    margin: auto;
}


.modal-backdrop {
    background: #000 !important;
    /*background-size:cover!important;*/ 
}

.modal-backdrop.show {
  opacity: 0.5!important;
}

.cerrar{
    width: 25px;
    background:transparent;
    height: auto;
    right: 0;
    margin:-35px -15px 0px 0px;
    z-index: 1000;
    position: absolute;
        
}

::-webkit-scrollbar {
    display: none;
}

#fecha {
	width: 170px;
	height: 20px;
	color:#fff;
	font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 25px;

}
.modal-open  {
    padding-right: 0px !important;
     overflow-y: auto !important; 
    
}

.modal-dialog  {
    margin: 0rem auto !important;
}

/*.modal-open {overflow-y: auto}

.modal-content {
  background-position: top center;   
}*/

#fondo {
	width: 100%;
	height: 100%;
	background: url(images/tramaroja3.jpg)no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin-top: 0px;
	position: absolute;
	z-index: 3;
}

#fondom {
	width: 100%;
	height: 100%;
	background: url(images/fondop4.png);
	margin-top: 0px;
	position: absolute;
	z-index: 4;
	display: none;
}

.barra.sb-slide {
	width: 100%;
	height: 41px;
	z-index: 500;
	position: fixed;
	margin-top: 0;
	background: rgba(205,46,46,1);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
	
}

/*-----logo------*/

.logomain {
	width: 260px;
	height:50px;
	background-image: url(images/logonuevo.svg);
	background-size:90%;
	background-position: center center;
	background-color: #fff;
    position: absolute;
    
	z-index: 501;
	left: 50%;
    margin-left: -130px;
	border:0px solid #898988;
	background-repeat: no-repeat;
	-webkit-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -moz-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -o-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -ms-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
   
}
/*
.logomain {
	width: 260px;
	height:53px;
    background-color: #fff;
    position:absolute;
    overflow: hidden;
	z-index: 501;
	top: 0;
    left: 50%;
    margin-left: -130px;
	border:0px solid #898988;
	background-repeat: no-repeat;
	-webkit-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -moz-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -o-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    -ms-box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);
    box-shadow: 2px 1px 8px 0px rgba(45, 50, 50, 0.49);

   
}


.logopng {
    width: 63px;
    height: 50px;
    float: left;
    background-image: url(images/simbolo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2px;
    background-position: right;
}
.textologo {
    width: auto;
    height: 40px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin-top: 11px;
   
    
    
} 

.textologo p.title span {
   
    color: #cd2e2e;
    font-weight: 400;
    font-size: 19px !important;
}
.textologo p.title {
    color: #6C6F70;
    font-weight: 300;
    font-size: 19px;
    
    
}

.subtitle {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 11px;
    text-align: right;
    margin-left: 8px;
    color:#6C6F70;
    font-weight: 300;
    position: absolute;
    margin-top: -2px;
}


#plogo {
	font-family: 'Source-sans-pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333332;
	margin-top: 5px;
	margin-left: 60px;
	display: none;

}

span#rojo {
	font-weight: 400;
   color:#cd2e2e;
}
*/
/*-----Fin logo------*/



#menuba {
	
	margin-top: 0px;
	margin-left: 0px;
	font-family: source-sans-pro,sans-serif;
	font-weight:300;
	font-size: 16px;
	list-style: none;
	overflow: hidden;
}

.mderecho {
	text-align: right;
}	

#a1 {
	padding-right: 35px;
}
.aviso {
	width: 40px;
	height: 20px;
	color:#fff;
	position: absolute;
	margin-left: -37px;
	margin-top: 10px;
	font-family: source-sans-pro, sans-serif;
	font-size: 14px;
	font-weight: 400;
    display: none;

}

span {
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-weight: 400;
}


#menuba li {
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid gray;
}


#menuba li a {
	text-decoration: none;
	color:white;
}

li:hover {
	background: #3c3c3b;
}

.sb-toggle-left {
	width: 40px;
	height: 41px;
	background: transparent;
	position: absolute;

}

.sb-toggle-left:hover {
	cursor: pointer;
	background: #af1d1d;
}

#c02 {
	width: 25px;
	height: 2px;
	margin-top: 19px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
	
}

#c01 {
	width: 25px;
	height: 2px;
	margin-top: 12px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
}

#c03 {
	width: 25px;
	height: 2px;
	margin-top: 26px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
	
}

.sb-toggle-right {
	width: 40px;
	height: 41px;
	background: transparent;
	position:relative;
	z-index: 49998;
	cursor: pointer;
	float: right;
    display:none;
	
}

.sb-toggle-right:hover {
	background: #af1d1d;
    display:none;
    
} 


#c06 {
	width: 25px;
	height: 2px;
	margin-top: 26px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
	
}

#c05 {
	width: 25px;
	height: 2px;
	margin-top: 19px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
	
}

#c04 {
	width: 25px;
	height: 2px;
	margin-top: 12px;
	background: #fff;
	margin-left: 7px;
	position: absolute;
}

.sb-slidebar.sb-right.sb-style-overlay {
	margin-top: 41px;
}



#wrapper6 {
    max-width: 920px;
	width:100%;
	margin: 0px auto 0px auto;
	position: relative;
	background:#fff ;
	height: auto;
	z-index: 4;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	overflow: hidden;
	
}

#wrapper2,#wrapper3,#wrapper4,#wrapper5,#wrapper1 {
	width: 70%;
	margin:150px auto 0px auto;
	position: relative;
	padding-top: 1.2%;
	background: #fff;
	height: auto;
	padding-bottom: 1.2%;
	z-index: 4;
	overflow: hidden;
}

#wrapper5 {
	margin-bottom: 200px;
}

.cycle-slideshow {
	width: 97%;
	height: auto;
	margin-left:1.5%;
    background: transparent;
    z-index: 3;
	color: #E7C9FC;
	position: relative;
}

.center1 {
	background: #ce2c2e;
    /*background: #502D5A;*/
	width: 95%;
	height: 80px;
	position: relative;
	text-align: justify;
	margin: 0 2.5%;
	color: #fff;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-size: 14px;
	
	
}

.center2,.center3,.center4,.center5,.center6 {
  /*background: #502D5A;*/
    background: #ce2c2e;
	width: 95%;
	height: auto;
	position: relative;
	font-size: 14px;
	text-align: justify;
	margin: 0 2.5%;
	color: #fff;
	font-family: source-sans-pro,sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.foto6 {
	width: 100%;
	vertical-align: bottom;
}

.cycle-slide.cycle-sentinel {
	width: 100%;
}

#cuadronegro1 {
	width: 100%;
	height: 40px;
	margin-top: 0%;
	background: #000;
	position: relative;
	z-index: 156;
	margin-left: 0%;
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-size: 14px;
}

#textodiv {
	width: 85%;
	position:absolute;
	z-index: 156;
	background: #000;
	margin: 10px auto;
	margin-left: 8.5%;
	text-align: right;
	color: #fff;
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-size: 14px;
	font-weight: 400;
}



.out {
	width: 100%;
	background: #ce2c2e;
    height: 20%;
	position: relative;
	padding: 20px 0px 40px 0;
}


.out2,.out3,.out4,.out5,.out6 {
	width: 100%;
    background: #ce2c2e;
	/*background: #502D5A;*/
	height: 20%;
	position:relative;
	overflow: hidden;
    padding: 20px 0px 20px 0;
}

#next {
	background: url(images/forward.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 0px;
	width: 28px;
	height: 35px;
	z-index: 13;
	cursor: pointer;
	float: right;
}

#next:hover {
	background: url(images/forwardd.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 0px;
	width: 28px;
	height: 35px;
	z-index: 13;
	cursor: pointer;
	float: right;
}

#next2,#next3,#next4,#next5,#next6 {
	background: url(images/forward.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 0px;
	width: 28px;
	height: 35px;
	z-index: 150;
	float: right;
	cursor: pointer;
}

#next2:hover,#next3:hover,#next4:hover,#next5:hover,#next6:hover {
	background: url(images/forwardd.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 0px;
	width: 28px;
	height: 35px;
	z-index: 13;
	cursor: pointer;
	float: right;
} 

#prev {
	background: url(images/back.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 5px;
	width: 28px;
	height: 35px;
	position: absolute;
	z-index: 160;
	cursor: pointer;
}

#prev:hover {
	background: url(images/back2.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 5px;
	width: 28px;
	height: 35px;
	position: absolute;
	z-index: 160;
	cursor: pointer;
}


#prev2,#prev3,#prev4,#prev5,#prev6 {
	background: url(images/back.png);
	background-size: 80%;
	background-repeat: no-repeat;
	width: 28px;
	height: 35px;
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	z-index: 11;
	cursor: pointer;
	
}

#prev2:hover,#prev3:hover,#prev4:hover,#prev5:hover,#prev6:hover {
	background: url(images/back2.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 5px;
	width: 28px;
	height: 35px;
	position: absolute;
	z-index: 160;
	cursor: pointer;
}

#slide2,#slide3,#slide4,#slide5 {
	width: 97%;
	margin-top:0px;
	margin-left:1.5%;
    background: transparent;
	position: relative;
	color: #E7C9FC;
}


#cuadronegro2,#cuadronegro3,#cuadronegro4,#cuadronegro5,#cuadronegro6 {
	width: 100%;
	height: 40px;
	background: #000;
	position: relative;
	z-index: 50;
	overflow: hidden;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
}

#textodiv2,#textodiv3,#textodiv4,#textodiv5,#textodiv6  {
	width: 85%;
	position:absolute;
	z-index: 156;
	background: #000;
	margin: 10px auto;
	margin-left: 8.5%;
	text-align: right;
	color: #fff;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
}


.logomenu {
	width: 200px;
	height: 185px;
	margin: 60px auto;
	background: url(images/logo2015vv.svg);
	background-size: 100%;
	background-repeat: repeat;

}

.footeron.sb-slide {
	width: 100%;
	height: 120px;
	background: #000;
    font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
    overflow: hidden;
}

.izquierdo {
	width:150px;
	height: 25px;
    float: left;
	margin-left: 18%;
	margin-top: 45px;
    overflow: hidden;
  
}

.icono {
	width: 20px;
	height: 20px;
	background: url(images/foto.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;
    
}

.icono0 {
	width: 20px;
	height: 20px;
	background: url(images/fono.png);
	background-size: 100%;
    margin-right: 5px;
    margin-top: 2px;
    
}

.icono1 {
	width: 20px;
	height: 20px;
	background: url(images/copyright.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;
    
}

.icono2 {
	width: 20px;
	height: 20px;
	background: url(images/face.png);
	background-size: 100%;
	float: left;
	margin-right: 5px;

}

.icono3 {
	width: 20px;
	height: 20px;
	background: url(images/mail2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	margin-right: 5px;
	margin-top: 3px;
}

#final {
	font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 2px;
	height: 20px;
    
}


a {
	text-decoration: none !important;
}

p#final0 {
	font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 2px;
	height: 20px;
	
}

p#final3 {
	font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 0px;
	height: 25px;
	
}

.derecho {
    width: 120px;
    height: 25px;
    float: right;
    margin-right: 16%;
    margin-top: 45px;
    
}

.centro {
	width: 180px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -90px;
    margin-top: 40px;
    overflow: visible;
}

p#final {
	font-family: source-sans-pro,sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	margin-top: 2px;
	height: 25px;
	
}

.fluno  {
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    display:flex;
    width: 140px;
    height: 30px;
    overflow: hidden;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
   
}  


@media screen and (max-width: 1024px){
	#fondo {
	
    }

    #fondom {
	display: none;
   }
}


@media screen and (max-width: 960px) {
	#textodiv,#textodiv2,#textodiv3,#textodiv4,#textodiv5 {
		width: 80%;
	}
    
    .cerrar {
        right: 50%;
        margin:-35px -25px 0px auto;
    }
	#prev:hover,#prev2:hover,#prev3:hover,#prev4:hover,#prev5:hover,#prev6:hover  {
	background: url(images/back.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: 5px;
	width: 28px;
	height: 35px;
	position: absolute;
	z-index: 160;
	cursor: pointer;
	
   }

   #next:hover,#next2:hover,#next3:hover,#next4:hover,#next5:hover,#next6:hover {
	background: url(images/forward.png);
	background-size: 80%;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-right: 0px;
	width: 28px;
	height: 35px;
	z-index: 13;
	cursor: pointer;
	float: right;
    }
    
     .izquierdo {
    	margin-left: 2%;
    }

    .derecho {
    	margin-right: 2%;
    }
}

@media screen and (max-width: 800px) {

	.cycle-slide.cycle-sentinel {
	width: 100%;
    }
    
    #wrapper1,#wrapper2,#wrapper3,#wrapper4,#wrapper5,#wrapper6 {
    	
    	
    }

   

 }

@media screen and (max-width: 600px), screen and (max-height: 600px) {

    .flinks {
       
        width: 250px;
        height: auto;
        position: static;
        -webkit-flex-direction:column;
        flex-direction: column;
        margin: 100px auto;
        top: 0;
        left:0;
        -moz-transform: translate(0,0);
        -o-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        transform: translate(-0%, 0%);
        
     }
    
}


@media screen and (max-width: 520px) {
    #wrapper6 {
        max-width: 100%;
        width: 100%;
    }
    
	.derecho {
    	width: 150px;
        height: 25px;
        float: none;
    	background: transparent;
        position:inherit;
        margin: 25px auto 0 30%;
		
    }

	.footeron.sb-slide {
        margin-top: 0px;
		height: 220px;
		
	}


	.centro {

		float: none;
		margin: 70px auto 0 0;
		position: absolute;
		background: transparent;
        left: 30%;
    
    }

	.izquierdo {
		margin: 30px auto 0 30%;
        position: inherit;
        float: none;
    }

	#fecha {
		width: 170px;
    }
         
}

@media screen and (max-width: 440px){
    .logomain {
    	width: 60px;
    	height: 53px;
    	background-image: url(images/cel2.png);
    	background-size: 60%;
    	background position: center center;
    	background-repeat: no-repeat;
    	margin-left: -30px;
    }
}

@media screen and (max-width: 400px) {
	.logo.sb-slide {
    	margin-left: 40px;
    }
    .foot2 {
    	left:65%;
    }
    #textodiv,#textodiv2,#textodiv3,#textodiv4,#textodiv5,#textodiv6 {
		width: 70%;
	}
	

     
    


}